
APP_ENV=production
APP_KEY=secretkey123

DB_HOST=127.0.0.1
DB_PORT=3306

DB_DATABASE=uvqrkdmxew
DB_USERNAME=uvqrkdmxew
DB_PASSWORD=P9M9bh5kaX

# Legacy variables (optional)
DB_NAME=chat
DB_USER=root
DB_PASS=
